@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-theme: linear-gradient(316deg, #3e187a 0%, #994ecc 74%);
    --text-color: #fff;
    --bg-button: #ff7f00;
    --color-button: #fff;
}

body {
    background: var(--bg-theme);
    color: var(--text-color)
}

button {
    background: var(--bg-button);
    color: var(--color-button);
}

svg {
    fill: var(--text-color);
}

.neon-effect {
    box-shadow: 0 0 2px var(--bg-button), 0 0 3px;
    transition: box-shadow 0.3s ease;
}

[data-theme="dark"] {
    --bg-theme: linear-gradient(175deg, rgba(23, 23, 23, 0.5), rgba(51, 51, 51, 0.5));
    --bg-sidebar: rgb(40, 40, 40, 1);
    --text-color: #fff;
    --bg-selectButton: rgba(20, 20, 20, 0.7);
    --bg-selectButtonActive: rgba(20, 20, 20, 1);
    --bg-button: #11111e;
}

[data-theme="purple"] {
    --bg-theme: linear-gradient(175deg, rgba(153,78,204,1) 0%, rgba(96,47,114,0.9) 50%, rgba(62,24,122,1) 100%);
    --bg-sidebar: rgba(125, 16, 165, 1);
    --text-color: #fff;
    --bg-selectButton: #ff8288aa;
    --bg-selectButtonActive: #ff7179;
    --bg-button: #ff7179;
}

[data-theme="light"] {
    --bg-theme: #f7f7f7;
    --bg-sidebar: #e4e4e4;
    --text-color: #2d2d2d;
    --bg-button: #2d2d2d;
    --bg-selectButton: #cececeba;
    --bg-selectButtonActive: #cecece;
    --color-button: #fff;
}

@layer components {

    .main-container {
        @apply flex min-h-screen flex-1 flex-col items-center px-6 py-8 my-12 sm:my-0;
      }

    .titleText {
        @apply text-3xl font-bold
    }

    .mainButton {
        @apply py-2 px-3 rounded-lg drop-shadow-lg shadow-[--bg-button] transition-all delay-100 neon-effect hover:scale-105 hover:opacity-85
    }

    .leftsidebar {
        @apply sticky left-0 top-0 z-20 h-screen flex-col justify-between overflow-auto rounded-r-2xl shadow-sm neon-effect bg-[--bg-sidebard] px-5 py-9 w-auto lg:w-[270px] hidden sm:flex;
    }

    .selectButton {
        @apply w-full text-sm flex items-center gap-3 bg-[--bg-selectButton] px-2 py-3 rounded-xl transition-all delay-100 hover:opacity-85 hover:selectButtonActive
    }

    .selectButtonActive {
        @apply neon-effect bg-[--bg-selectButtonActive]
    }

    .bottombar {
        @apply fixed bottom-0 z-10 w-full rounded-t-3xl shadow-sm neon-effect bg-[--bg-sidebar] py-4 sm:hidden;
      }
    
    .bottombar_container {
        @apply flex items-center justify-center px-5 gap-5;
    }

    .topbar {
        @apply fixed top-0 z-10 w-full rounded-b-xl neon-effect bg-[--bg-sidebar] py-2 sm:hidden;
      }
    
    .topbar_container {
        @apply flex items-center justify-between px-5 gap-5;
    }

    .onboarding {
        @apply mt-4 p-4 rounded-lg bg-[--bg-sidebar]
    }
}
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}